<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <%- include('./partials/head.ejs') %>
</head>
 <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="content">
      <% if (users.length > 0) { %> <% users.forEach(user => { %>

      <h3 class="title"><%= user.firstName %> <%= user.lastName %></h3>

      <p><%= user.email %></p>

      <% }) %> <% } else { %>
      <p>Não há usuários para exibir...</p>
      <% } %>
    </div>
  </body>
</html>